@import "tailwindcss";

.subtitle-style {
    padding-bottom: 5px;
    color: gray;
  }
  
  .el-icon-info {
    font-size: x-small;
  }
  
  #input-container {
    padding: 15px;
  }
  
  .el-col {
    margin-top: 15px;
  }